<ion-view title="connection">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="adressePersonel">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Adresse de Travail</b></h3>
    </div>

	<!-- CODE POSTAL -->
	<div class="list" align="left">
      <label class="item item-input item-stacked-label">
        <span class="input-label inline">Code Postal</span>
        <input type="text" class="searchPage2 inline" data-ng-model="codePostal">
      </label>
	</div>

	<!-- VILLE -->
	<div class="list" align="left">
      <label class="item item-input item-stacked-label">
        <span class="input-label inline">Ville</span>
        <input type="text" class="searchPage2 inline" data-ng-model="ville">
      </label>
	</div>

	<!-- ADRESSE 1 -->
	<div class="list" align="left">
      <label class="item item-input item-stacked-label">
        <span class="input-label inline">Adresse 1</span>
        <input type="text" class="searchPage2 inline" data-ng-model="adresse1">
      </label>
	</div>

	<!-- ADRESSE 2 -->
	<div class="list" align="left">
      <label class="item item-input item-stacked-label">
        <span class="input-label inline">Adresse 2</span>
        <input type="text" class="searchPage2 inline" data-ng-model="adresse2">
      </label>
	</div>

	<br>
	<!-- ACTIONS -->
	<div class="buttonConnect">
      <button class="button button-full button-positive green" data-ng-click="updateAdresseTravEmployeur(codePostal, ville, adresse1, adresse2)">Valider</button>
      <button class="button button-full button-positive grey icon-right ion-chevron-right" ui-sref="competence">Passer</button>
    </div>
  </ion-content>
</ion-view>
