<ion-view title="connection">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="saisieCiviliteEmployeur">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true" data-ng-init="initForm()">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Siège social</b></h3>
    </div>

	<!-- CODE POSTAL -->
    <div class ="xcontainer">
      <div angucomplete-alt id="ex0"
        placeholder="Code postal"
        maxlength="50"
        pause="100"
        selected-object="formData.codePostal"
        local-data="formData.zipCodes"
        search-fields="libelle"
        title-field="libelle"
           initial-value = "formData.initialPC"
        minlength="1"
        input-class="form-control form-control-small"
        match-class="highlight" class="autoCompl">
      </div>
        <!--select id="ex1" class="arriere flat select" data-ng-model="formData.zipCodeSelected.pk" data-ng-change="updateAutoCompleteZip()">
          <option  id="cp_value" data-ng-repeat="x in formData.zipCodes" value="{{x.pk_user_code_postal}}">{{x.libelle}}</option>
        </select-->
      </div>

	<!-- VILLE -->
    <div class ="xcontainer">
      <div angucomplete-alt id="ex1"
        placeholder="Ville"
        maxlength="50"
        pause="100"
        selected-object="formData.ville"
        local-data="formData.villes"
        search-fields="libelle"
        title-field="libelle"
           initial-value = "formData.initialCity"
        minlength="1"
        input-class="form-control form-control-small"
        match-class="highlight" class="autoCompl">
      </div>
      <!--select id="ex2" class="arriere flat select" data-ng-model="formData.villeSelected.pk" data-ng-change="updateAutoCompleteVille()">
        <option id="city_value" data-ng-repeat="x in formData.villes" value="{{x.pk_user_ville}}">{{x.libelle}}</option>
      </select-->
    </div>

	<!-- Numéro + rue  -->
    <div class="list xtel" align="left">
      <div class="row" >
        <div class="col-20 num">
          <label class="item item-input it1">
            <input type="text" id="addressP0" placeholder="N°" data-ng-model="formData.num">
          </label>
        </div>
        <div class="col-80 rue">
          <label class="item item-input it2">
            <input type="text" id="addressP1" placeholder="Rue" data-ng-model="formData.adresse1">
          </label>
        </div>
      </div>
    </div>

    <!-- Rue
    <div class="list" align="left">
        <label class="item item-input">
          <input type="text" id="addressP1" placeholder="Rue" data-ng-model="formData.adresse1">
        </label>
    </div>-->

    <!-- Complément -->
    <div class="list" align="left">
        <label class="item item-input">
          <input type="text" id="addressP2" placeholder="Complément" data-ng-model="formData.adresse2">
        </label>
    </div>

    <br>
    <!-- ACTIONS -->
    <div class="buttonConnect">
        <button class="button button-full button-positive green" data-ng-click="updateAdressePersEmployeur()">Valider</button>
      <button class="button button-full button-positive grey icon-right ion-chevron-right" ui-sref="adresseTravail">Passer</button>
      </div>
  </ion-content>
</ion-view>
