<ion-view id="adresseTravailView" title="connection">
  <ion-nav-buttons side="secondary">
  <a class="button icon-right ion-chevron-right button-clear" ui-sref="offres">  </a>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <ion-content padding="true" data-ng-init="initForm()">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>{{title}}</b></h3>
    </div>
    <br>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Veuillez saisir votre adresse de départ au travail..." ng-model="formData.addressTravail" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-click="displayAdresseTooltip()" ng-focus="disableTap()" id="addresseTravail"><!-- googleplace -->
        <span ng-show="!formData.addressTravail  && isContractInfo" class="requiredStar">*</span>
      </label>
    </div>
    <div id="popupAdrTravail" ng-class="{'hidden' : !showAdresseTooltip}" ng-if="fieldIsEmpty()">
      <div class="arrow-up"></div>
      <div id="adressePopup">
        {{adresseToolTip}}
      </div>
    </div>
    <br>

	<br>
	<!-- ACTIONS -->
	<div class="buttonConnect">
      <button class="button button-full button-positive grey" data-ng-click="updateAdresseTravJobyer()">Valider</button>
    </div>
  </ion-content>
</ion-view>
