<ion-view title="connection">
  <ion-header-bar class="bar-calm backgroundGray">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="adressePersonel">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true" data-ng-init="initForm()">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Adresse De Départ Au Travail</b></h3>
    </div>
    <br>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Veuillez saisir votre adresse de départ au travail..." ng-model="formData.addressTravail" googleplace="" class="ng-pristine ng-valid" autocomplete="off"><!-- googleplace -->
      </label>
    </div>
    <br>

	<br>
	<!-- ACTIONS -->
	<div class="buttonConnect">
      <button class="button button-full button-positive grey" data-ng-click="updateAdresseTravJobyer()">Valider</button>
    <button class="button button-full button-positive green icon-right ion-chevron-right" ui-sref="competence">Passer</button>
    </div>
  </ion-content>
</ion-view>
