<ion-view id="adressePersonelView" title="{{AppLogo}}">
  <!--<ion-header-bar class="bar-calm backgroundGray">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="saisieCiviliteJobeyer">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>-->
  <ion-nav-buttons side="secondary">
    <a class="button icon-right ion-chevron-right button-clear" ui-sref="adresseTravail">  </a>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <ion-content padding="true">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>{{title}}</b></h3>
    </div>

	<br>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Veuillez saisir votre adresse..." ng-model="formData.address" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-click="displayAdresseTooltip()" ng-focus="disableTap()" id="address"><!-- googleplace -->
            <span ng-show="!formData.address  && isContractInfo" class="requiredStar">*</span>
      </label>
    </div>
    <div id="popupAdrTravail" ng-class="{'hidden' : !showAdresseTooltip}" ng-if="fieldIsEmpty()">
      <div class="arrow-up"></div>
      <div id="adressePopup">
        {{adresseToolTip}}
      </div>
    </div>
    <br>
    <!-- ACTIONS -->
    <div class="buttonConnect">
        <button class="button button-full button-positive grey" data-ng-click="updateAdressePersJobyer()">Valider</button>
      </div>
  </ion-content>
</ion-view>
