<ion-view title="competence">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="adresseTravail">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true" data-ng-init="initForm()">
    <!-- Title -->
    <!--div class="row">
        <div class="col alignright">
          <h3 class="titlePhone"><b>Jobyer N° {{njobyer}}</b></h3>
        </div>
        <div class="col alignleft">
            <!--button class="round-overlay-button bottom-right calm button button-icon icon ion-ios7-search-strong light"><span>+</span></button-->
            <!--button class="button" data-ng-click="">+</button>

        </div>
    </div-->
	<a class="button icon-left ion-chevron-left button-clear" data-ng-click="loadPrevJobyer()" data-ng-disabled="formData.showButtLeft"></a>
	<div  class="divButton" style="display: inline-block" align="center" data-ng-click="removeJobyer()">
      <span style="vertical-align: middle !important;">-</span>
    </div>
    <h3 class="titlePhone" style="display: inline-block"><b>Jobyer N° {{formData.jobyerCurrentIndice}}/{{jobyers.length}}</b></h3>
    <div  class="divButton" style="display: inline-block" align="center" data-ng-click="addJobyer()">
      <span style="vertical-align: middle !important;">+</span>
    </div>
	<a class="button icon-right ion-chevron-right button-clear" data-ng-click="loadNextJobyer()" data-ng-disabled="formData.showButtRight"></a>
	
    <br><br>

    <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.metier" data-ng-init="formData.metier='Métier'">
          <option selected disabled style="display: none;">Métier</option>
		  <option data-ng-repeat="x in formData.metiers" value="{{x.pk_user_metier}}">{{x.libelle}}</option>
        </select>
      </label>
    </div>

     <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.job" data-ng-init="formData.job='Job'">
          <option selected disabled style="display: none;">Job</option>
          <option data-ng-repeat="x in formData.jobs" value="{{x.pk_user_competence}}">{{x.libelle}}</option>
        </select>
      </label>
    </div> 


    <div class="list">
      <div class="item range range-calm">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" data-ng-model="formData.degre" data-ng-init="formData.degre=10" data-ng-change="rangeChange()">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.indisp" data-ng-init="formData.indisp='Les indispensables'">
          <option selected disabled style="display: none;">Les indispensables</option>
          <option data-ng-repeat="x in formData.transvers" value="{{x.pk_user_competence_transverse}}">{{x.libelle}}</option>
        </select>
      </label>
    </div>

    <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.langue" data-ng-init="formData.langue='Langue'">
          <option selected disabled style="display: none;">Langue</option>
          <option data-ng-repeat="x in formData.langues" value="{{x.pk_user_langue}}">{{x.libelle}}</option>
        </select>
      </label>
    </div>

    <br>
    <!-- ACTIONS -->
    <div class="buttonConnect">
      <button class="button button-full button-positive green" data-ng-click="afficheList()">Valider</button>
      <button class="button button-full button-positive grey icon-right ion-chevron-right" ui-sref="app">Passer</button>
    </div>
  </ion-content>
</ion-view>

