<ion-view title="competence">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="adresseTravail">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content id="competenceContent" padding="true" data-ng-init="initAll()">
  
  <!-- BUTTONS CONTROLS -->
	<div class="button icon-left ion-chevron-left button-clear" style="vertical-align: middle" onclick="angular.element(this).scope().loadPrevJobyer()" data-ng-disabled="formData.showButtLeft"></div>
	<!-- <div class="button icon-left ion-chevron-left button-clear" onclick="angular.element(this).scope().loadPrevJobyer()" data-ng-disabled="formData.showButtLeft"></div>-->
	
	<div class="divButton" style="display: inline-block" align="center" data-ng-click="removeJobyer()">
      <span style="vertical-align: middle !important;">-</span>
    </div>
    <h3 class="titlePhone" style="display: inline-block"><b>Jobyer N° {{ formData.currentFeuille }}</b></h3>
    <div  class="divButton" style="display: inline-block" align="center" data-ng-click="addJobyer()">
      <span style="vertical-align: middle !important;">+</span>
    </div>
	
	<div class="button icon-right ion-chevron-right button-clear" style="vertical-align: middle" onclick="angular.element(this).scope().loadNextJobyer()" data-ng-disabled="formData.showButtRight"></div>

    <br><br>
	<!-- METIERS -->
    <div class="list">
      <label class="item item-input">
	  <!--
		<div angucomplete-alt id="metiers"
			placeholder="Métier"
			maxlength="50"
			pause="100"
			selected-object="formData.metier"
			local-data="formData.metiers"
			search-fields="libelle"
			title-field="libelle"
			minlength="1"
			input-class="form-control form-control-small"
			match-class="highlight" class="autoCompl">
		</div>
		-->
		<select class="flat" data-ng-model="formData.metier" data-ng-init="formData.metier='Metiers'">
			<option selected disabled style="display: none;">Metiers</option>				
			<option data-ng-repeat="x in formData.metiers" value="{{x.libelle}}">{{x.libelle}}</option>
		</select>
		</label>
	</div>
	<!-- <br> -->
	<!-- JOBS -->
    <div class="list">
      <label class="item item-input">
	  <!--	
	<div angucomplete-alt id="jobs"
			placeholder="Job"
			maxlength="50"
			pause="100"
			selected-object="formData.job"
			local-data="formData.jobs"
			search-fields="libelle"
			title-field="libelle"
			minlength="1"
			input-class="form-control form-control-small"
			match-class="highlight" class="autoCompl">
	</div>
		-->
		<select class="flat" data-ng-model="formData.job" data-ng-init="formData.job='Job'">
			<option selected disabled style="display: none;">Job</option>		
			<option data-ng-repeat="x in formData.jobs" value="{{x.libelle}}">{{x.libelle}}</option>
		</select>
		</label>
	</div>	
	<!-- MAITRISE -->
	<div id="maitriseDiv">
		<img ng-src="img/{{formData.maitriseIcon}}" alt="" style="display: inline;max-width: 60px;max-height: 80px;vertical-align: middle;"/>
		<label for="maitrise" style="display: inline-block; color:#757575;vertical-align: middle;" > {{formData.maitrise}}</label>
		<div class="list rangeDiv">
		  <div class="item range range-calm">
			<img src="img\tree1_small.png" style="display: inline;max-width: 60px;max-height: 80px;">
			<input id="maitrise" type="range" name="volume" min="0" max="100" data-ng-model="formData.degre" data-ng-init="formData.degre=10" data-ng-change="rangeChange()">
			<img src="img\tree4_small.png" style="display: inline;max-width: 60px;max-height: 80px;">
		  </div>
		</div>
	</div>
	<!-- INDESPENSABLES -->
    <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.indisp" data-ng-init="formData.indisp='Les indispensables'">
          <option selected disabled style="display: none;">Les indispensables</option>
          <option data-ng-repeat="x in formData.transvers" value="{{x.pk_user_competence_transverse}}">{{x.libelle}}</option>
        </select>
      </label>
    </div>
	<!-- LANGUES -->
    <div class="list">
      <label class="item item-input">
        <select class="flat" data-ng-model="formData.langue" data-ng-init="formData.langue='Langue'">
          <option selected disabled style="display: none;">Langue</option>
          <option data-ng-repeat="x in formData.langues" value="{{x.pk_user_langue}}">{{x.libelle}}</option>
        </select>
      </label>
    </div>

    <br>
    <!-- ACTIONS -->
    <div class="buttonConnect">
      <button class="button button-full button-positive green" data-ng-click="saveJobyers()">Valider</button>
      <button class="button button-full button-positive grey icon-right ion-chevron-right" ui-sref="app">Passer</button>
    </div>
  </ion-content>
</ion-view>

