<ion-view title="connection">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="app">  </a>
    <h1 class="title">Connexion</h1>
    <a class="button icon-right ion-home button-clear button-dark" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true">
    <div>
      <h3>Vous voulez vous connectez avec :</h3>
    </div>

    <div>
      <button class="button button-full button-positive green" > Votre téléphone</button>
      <button class="button button-full button-positive green" > Votre adresse mail</button>
    </div>

    <div>
      <h3>Ou</h3>
    </div>

    <div>
      <button class="button button-full button-positive linkedIn" > Votre compte LinkedIn</button>
      <button class="button button-full button-positive red" > Votre compte Gmail</button>
      <button class="button button-full button-positive facebook" ng-click="fbLogin()"> Votre compte Facebook</button>
      <button class="button button-full button-positive grey" > Quitter</button>
    </div>

  </ion-content>
</ion-view>
