<ion-view id="connexionPhoneView" title="{{AppLogo}}">
  <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <ion-content padding="true" data-ng-init="initForm()">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Entrez votre numéro de téléphone : </b></h3>
    </div>

    <!-- TELEPHONE -->
  <div class="list xtel borderGray" align="left">
    <div class="row" >
      <div class="col-25 num">
        <label class="item item-input it1">
          <i class="icon ion-ios-telephone placeholder-icon"></i>
          <input class="input-indicatif" type="tel" ng-model="formData.index" placeholder="" data-ng-init="formData.index='0033'" numbers-only="numbers-only"/>
        </label>
      </div>
      <div class="col-10 num">
        <label class="item item-input it3">
          <i class="icon ion-arrow-down-b placeholder-icon"></i>
          <select class="select-indicatif" ng-model="formData.index">
            <option ng-repeat="item in formData.pays" ng-value="item.indicatif_telephonique">
              {{item.libelle}}
            </option>
          </select>
          <input class="input-indicatif" type="text" placeholder=""/>
        </label>
      </div>
      <div class="col-67 rue">
        <label class="item item-input it2">
          <input type="tel" id="phone" placeholder="Téléphone" data-ng-model="formData.phone" ng-minlength="9" >
        </label>
      </div>
    </div>
  </div>

	<!-- PASSWORD -->
	<div class="list">
	  <label class="item item-input">
      <i class="icon ion-locked placeholder-icon" style="font-size: large"></i>
      <input type="password" ng-focus="displayPwdTooltip()" ng-click="displayPwdTooltip()" placeholder="Mot de passe" ng-model="formData.password" ng-minlength="6">
      </label>
    </div>
    <div id="popupCntPwd" ng-class="{'hidden' : ! showPwdTooltip}" ng-if="!passwordIsValid()">
      <div class="arrow-up"></div>
      <div id="pwdPopup">
        Taille minimale: 6 caractères
      </div>
    </div>
	<br>
	<!-- ACTIONS -->
	<div class="buttonConnect">
      <button class="button button-full button-positive grey" data-ng-click="Authenticate()" ng-disabled="!formData.index || !formData.phone || !formData.password || formData.password.length<6">Se connecter</button>
      <button class="button button-full button-positive green" ui-sref="connection">Quitter</button>
    </div>
  </ion-content>
</ion-view>
