<ion-view id="conxionMailView" title="{{AppLogo}}">
  <!-- <ion-header-bar class="bar-calm">
   <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="connection"> </a>
   <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
   <h1 class="title">Connexion</h1>
   <a class="button icon-right ion-home button-clear button-light" ui-sref="app"> </a>
    </ion-header-bar> -->
  <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <ion-content padding="true">
    <!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Entrez votre e-mail : </b></h3>
    </div>

    <div class="list">
      <label class="item item-input" style="margin-bottom:15px;">
        <i class="icon ion-email placeholder-icon calm" style="font-size: large"></i>
        <input animation="fade" type="email" id="email" ng-click="displayEmailTooltip()" placeholder="Email"
               data-ng-model="formData.email" data-ng-change="validatEmail('email')">
        <!--<span class="error" >Required!</span>
        <span class="error" >Not valid email!</span>-->
      </label>

      <div id="popupCntMail" ng-class="{'hidden' : !showEmailTooltip}" ng-if="!emailIsValid()">
        <div class="arrow-up mail"></div>
        <div id="mailPopup">
          {{emailToolTip}}
        </div>
      </div>


      <!-- TELEPHONE -->

      <div>
        <h3 class="titlePhone" style="text-align: left;">Votre numéro de téléphone :</h3>
      </div>

      <div class="list xtel" align="left">
      <div class="row" style="padding-left: 0;">
        <div class="col-25 num">
          <label class="item item-input it1" style="border-right: 0 !important;">
            <i class="icon ion-ios-telephone placeholder-icon calm"></i>
            <input class="input-indicatif" type="tel" ng-model="formData.index" placeholder=""
                   data-ng-init="formData.index='33'" numbers-only="numbers-only"/>
          </label>
        </div>
        <div class="col-10 num">

          <label ng-show={{isAndroid}} style="position: absolute;width: 70%;height: 47px !important;border-left: 0 !important;"
                 class="item item-input it3">
            <i class="icon ion-arrow-down-b placeholder-icon calm"></i>
            <select class="select-indicatif" ng-model="formData.index">
              <option ng-repeat="item in formData.pays" ng-value="item.indicatif_telephonique">
                {{item.nom}}
              </option>
            </select>
            <!--  <input class="input-indicatif" type="text" placeholder=""/> -->
          </label>
          <label ng-show={{isIOS}} style="position: absolute;width: 70%;height: 47px !important;"
                 class="item item-input it3">
            <i class="icon ion-arrow-down-b placeholder-icon calm" style="border: solid 1px transparent;"></i>
            <select style="width:0px;border:solid 1px white;"
                    ng-options="item.indicatif as item.nom for item in formData.pays"
                    ng-model="formData.index"></select>
          </label>
        </div>
        <div class="col-67 rue">
          <label class="item item-input it2" style="border-left: 0 !important;">
            <input numbers-only="numbers-only" type="tel" ng-focus="displayPhoneTooltip()"
                   ng-click="displayPhoneTooltip()" id="phone" placeholder="Téléphone" data-ng-model="formData.phone"
                   ng-minlength="9">
          </label>
        </div>
      </div>
      <div id="popupCntPhone" ng-class="{'hidden' : ! showPhoneTooltip}" ng-if="!phoneIsValid()">
        <div class="arrow-up chiffre"></div>
        <div id="phonePopup">
          Saisissez les 9 chiffres sans le 0
        </div>
      </div>
        </div>

      <!-- PASSWORD -->
      <div>
        <h3 class="titlePhone" style="text-align: left;">Votre mot de passe :</h3>
      </div>

      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon calm" style="font-size: large"></i>
        <input type="password" ng-focus="displayPwdTooltip()" ng-click="displayPwdTooltip()"
               placeholder="Mot de passe" data-ng-model="formData.password">
      </label>

      <div id="popupCntPwd" ng-class="{'hidden' : ! showPwdTooltip}" ng-if="!passwordIsValid()">
        <div class="arrow-up"></div>
        <div id="pwdPopup">
          Taille minimale: 6 caractères
        </div>
      </div>

      <br>
      <!-- ACTIONS -->
      <div class="buttonConnect">
        <button class="button button-full button-positive green" data-ng-click="Authenticate()"
                ng-disabled="!formData.email || !formData.password || formData.password.length<6 || !formData.phone">Connecter
        </button>
        <button class="button button-full button-positive grey" ui-sref="menu.connection">Quitter</button>
      </div>
    </div>

  </ion-content>
</ion-view>
