<ion-view view-title="{{AppLogo}}">
  <ion-nav-buttons side="secondary">
    <a class="button ion-home button-clear button-light" style="font-size:x-large" ui-sref="app"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>

  <!-- <ion-nav-buttons side="primary">
  <button class="button button-clear button-small" ui-sref="app">
    <i class="icon ion-ios-arrow-back"></i>
  </button>
  </ion-nav-buttons> -->

  <ion-content>
    <div id="floating-panel">
      <!-- <i class="icon ion-search placeholder-icon" style="margin-left:-10px; margin-right:-5px"></i>
      <input id="address" type="textbox" placeholder="Recherche adresse" ng-focus="disableTap()"> -->
      <ion-google-autocomplete placeholder="Recherche adresse" ng-model="formData.addressMap" places-options="placesOptions" ng-change="inputMapchange(formData.addressMap)" />
    </div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
	  <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Me localiser</a>
      <div class="button-bar padding" style="padding: 0px; margin: 0px;">
        <a ng-click="markerFilter='duration';displayMarkers()" grouped-radio="'duration'" ng-model="markerFilter">Durée</a>
        <a ng-click="markerFilter='distance';displayMarkers()" grouped-radio="'distance'" ng-model="markerFilter">Distance</a>
      </div>
    </ion-footer-bar>
</ion-view>

<style>
  #map {
    width: 100%;
    height: 100%;
  }

  .scroll {
    height: 100%;
  }
</style>
