<ion-view title="home">
  <ion-header-bar class="backgroundGray">
    <!--a class="button icon-left ion-chevron-left button-clear button-light">  </a-->
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <!--<h1 class="title">Connexion employeur</h1>-->
    <!-- <a class="button icon-left ion-log-out button-clear button-light" ng-click="exitVit()">  </a> -->
  </ion-header-bar>
  <ion-content padding="true">
    <div class = "row">
      <div class="vimg"><img src="img/logo_jpbyers.png"></div>
    </div>


    <div class = "row sear" > <!-- data-ng-init="initConnexion()"> -->
      <div class="list list-inset">
        <label class="item item-input borderGray">
          <input type="search" placeholder="Votre recherche ici..." ng-model="job" ng-enter = "launchSearchForJobyersOffers(job)">
          <i class="icon ion-search placeholder-icon"></i>
		  </label>
      </div>
    </div>

    <div class = "row">
      <h3 class="hslide1">Des milliers d'offres à proximité!</h3>
    </div>


    <div class="row">
      <button class="button button-full button-positive grey" ng-disabled="!job" data-ng-click="launchSearchForJobyersOffers(job)">
        Lancer la recherche
      </button>
    </div>

    <div class="row">
      <button class="button button-full button-positive green" ng-if="!isLogged" ui-sref="connection">
        Se connecter
      </button>
      <button class="button button-full button-positive green" ng-if="isLogged" data-ng-click="logOut()">
        Se déconnecter

      </button>
    </div>
    <div class="row">
      <h6 style="width: 100%">
        Version: VIT 0.0.11
      </h6>
    </div>




</ion-content>
<!--<ion-footer-bar class="hide-on-keyboard-open">

</ion-footer-bar>-->
</ion-view>

