<ion-view title="home">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <!--<h1 class="title">Connexion employeur</h1>-->
    <a class="button icon-left ion-android-exit button-clear button-light" ng-click="exitVit()">  </a>
  </ion-header-bar>
  <ion-content class="splash padding has-subheader">
    <div class = "row">
      <div class="vimg"><img src="img/vit1job.png"></div>
    </div>
    <div class = "row">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Votre recherche ici..." ng-model="query" ng-enter = "getJobbers(query)">
        </label>
      </div>
    </div>
    <div class = "row">
      <h3 class="hslide1">Trouvez vos Jobyers immédiatement disponibles!</h3>
    </div>


      <div class="row" data-ng-init="initConnexion()">
        <button class="button button-full button-positive green" data-ng-click="modeConnexion()">
          {{ formData.connexion.libelle }}
        </button>
      </div>
    <!--<div class="row">ui-sref="connection" ng-click="showPopup()"
      <button class="button button-full button-positive grey">
        Inscription
      </button>
    </div>
  <!--<div c="buttonConnect">



  </div>-->
</ion-content>
<!--<ion-footer-bar class="hide-on-keyboard-open">

</ion-footer-bar>-->
</ion-view>

