<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-dark">

  <!-- Account Tab -->
  <ion-tab class="tab-item-light" title="Civilité" icon-off="ion-clipboard" icon-on="ion-clipboard" ui-sref="menu.infoTabs.saisieCiviliteEmployeur">
    <ion-nav-view name="infoTabs-saisieCiviliteEmployeur"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab class="tab-item-light" title="A. personnelle" icon-off="ion-android-compass" icon-on="ion-android-compass" ui-sref="menu.infoTabs.adressePersonel">
    <ion-nav-view name="infoTabs-adressePersonel"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab class="tab-item-light" title="A. départ au travail" icon-off="ion-android-compass" icon-on="ion-android-compass" ui-sref="menu.infoTabs.adresseTravail">
    <ion-nav-view name="infoTabs-adresseTravail"></ion-nav-view>
  </ion-tab>

</ion-tabs>
