<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-dark">

  <!-- Dashboard Tab -->
  <ion-tab class="tab-item-light" title="Vue liste" icon-off="ion-ios-list" icon-on="ion-ios-list-outline" ui-sref="jobyersOffersTab.list">
    <ion-nav-view name="jobyersOffersTab-list"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab class="tab-item-light" title="Vue carte" icon-off="ion-map" icon-on="ion-map" ui-sref="jobyersOffersTab.map">
    <ion-nav-view name="jobyersOffersTab-map"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab class="tab-item-light" title="Options" icon-off="ion-ios-settings-strong" icon-on="ion-ios-settings" ui-sref="jobyersOffersTab.options">
    <ion-nav-view name="jobyersOffersTab-options"></ion-nav-view>
  </ion-tab>

</ion-tabs>
