<ion-view title={{geolocation.lat}}">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="search">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-header-bar class="bar-dark" >
    <h1 class="title">Map</h1>
  </ion-header-bar>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>

  <ion-footer-bar class="bar-dark">
    <!--reverse-geocode lat="{{ $scope.geolocation.lat}}" lng="{{ $scope.geolocation.long}}"></reverse-geocode-->
   <span>{{showAddress(geolocation.lat,geolocation.long)}}</span>
    <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
  </ion-footer-bar>
  </ion-view>
