<ion-tabs id="offresTabContent" padding="true" data-ng-init="initAll()" class="tabs-icon-top tabs-background-calm tabs-color-dark">

  <ion-tab class="tab-item-light" title="Job" icon="ion-briefcase" ui-sref="offreTabs.job">
    <ion-nav-view name="offreTabs-job"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-item-light" title="QI" icon="ion-happy-outline" ui-sref="offreTabs.qualites">
    <ion-nav-view name="offreTabs-qualites"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-item-light" title="Langues" icon="ion-earth" ui-sref="offreTabs.langues">
    <ion-nav-view name="offreTabs-langues"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-item-light" title="Agenda" icon="ion-calendar" ui-sref="offreTabs.agenda">
    <ion-nav-view name="offreTabs-agenda"></ion-nav-view>
  </ion-tab>

</ion-tabs>
