<ion-view id="civiliteView" title="{{AppLogo}}">
    <ion-nav-buttons side="secondary">
    <a class="button icon-right ion-chevron-right button-clear" ui-sref="adressePersonel">  </a>
    </ion-nav-buttons>
    <ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <ion-content padding="true" data-ng-init="initForm()"
     <!-- Title -->
      <div>
          <h3 class="titlePhone"><b>{{title}}</b></h3>
      </div>
      <div class="list">
          <label class="item item-input">
            <select class="flat" data-ng-model="formData.civ" data-ng-init="formData.civ='Titre'">
              <option selected disabled style="display: none;">Titre</option>
              <option data-ng-repeat="x in formData.civilites" value="{{x.pk_user_civilite}}">{{x.libelle}}</option>
            </select>
            <span ng-show="formData.civ=='Titre' && isContractInfo" class="requiredStar">*</span>            
          </label>
          <label class="item item-input">
            <input type="text" id="nom" placeholder="Nom" data-ng-model="formData.nom">
            <span ng-show="!formData.nom  && isContractInfo" class="requiredStar">*</span>            
          </label>
          <label class="item item-input">
            <input type="text" id="prenom" placeholder="Prénom" data-ng-model="formData.prenom">
            <span ng-show="!formData.prenom  && isContractInfo" class="requiredStar">*</span>
          </label>
          <label class="item item-input">
          <input placeholder="Date de Naissance" data-ng-model="formData.dateNaissance" class="textbox-n" type="text" onfocus="this.type='date';" ng-blur="birthDateTypeChange()" id="date">
          <span ng-show="!formData.dateNaissance  && isContractInfo" class="requiredStar">*</span>
          </label>
        <label class="item item-input">
            <input id="num_ss" name="num_ss" type="text" model-view-value="true" ui-mask="9 99 99 99 999 999"  ui-mask-placeholder placeholder="N° SS" data-ng-model="formData.numSS" data-ng-change="validateNumSS('num_ss')" >
          <span ng-show="!formData.numSS  && isContractInfo" class="requiredStar">*</span>            
          </label>
        <label class="item item-input">
      <select class="flat" data-ng-model="formData.nationalite" data-ng-init="formData.nationalite='Nationalité'" data-ng-change="displayScanTitle()">
        <option selected disabled style="display: none;">Nationalité</option>
        <option data-ng-repeat="x in formData.nationalites" value="{{x}}">{{x.libelle}}</option>
      </select>
      </label>
	  </div>
<!--
      <div class="list">
          <button style="font-size: 12px;" class="button button-full button-positive grey" data-ng-click="selectImage()">
            Charger un scan de votre {{formData.scanTitle}}
          </button>
        <button style="font-size: 12px;" class="button button-full button-positive grey" data-ng-click="takePicture()">
			Prendre photo de votre {{formData.scanTitle}}
			</button>
      <div>
      <img id="uploadPreview" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="max-width: 100px; max-height: 100px;" />
      </div>
      </div>
-->
      <div align="list">
      <!-- <h3 class="titlePhone">Charger un scan de votre extrait k-bis</h3> -->
      <button class="button button-full button-positive grey" data-ng-click="selectImage()" ng-show="{{isAndroid}}">Charger un scan de votre {{formData.scanTitle}}</button>

      <div id="loadImgContainer" ng-show="{{isIOS}}">
        <input id="image" name="file" type="file" accept="image/*" onchange="angular.element(this).scope().loadImage(this)"><button data-ng-click="showFileDialog()" class="button button-full button-positive grey">Charger un scan de votre {{formData.scanTitle}}</button>
      </div>
      <button class="button button-full button-positive grey" data-ng-click="takePicture()">
        Prendre photo de votre {{formData.scanTitle}}
      </button>
      <div>
      <img id="uploadPreview" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="max-width: 100px; max-height: 100px;" />
      </div>
    </div>

	<!-- ACTIONS -->
	<div class="buttonConnect">
      <button class="button button-full button-positive grey"  data-ng-click="updateCivilite()">Valider</button>
    </div>
  </ion-content>
</ion-view>
