<ion-view title="search">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="app">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-header-bar>
  <ion-content padding="true">
    <div class="row">
      <div class="col col-33">

        <div class="lineContainer"><div class="vertical-line"> </div></div>
        <div>
          <nav mfb-menu position="bl" effect="slidein"
               active-icon="ion-search" resting-icon="ion-search"
               toggling-method="click" ng-click="onSearchChange(search)" menu-state="mfbMenuState">
            <!--<button mfb-button icon="paper-airplane" label="menu item" click='getTestItems(query)'> </button>-->
            <button mfb-button icon="paper-airplane" label="{{nbJobyersNextToMe}}" ng-click="isNoJobyerNextToMe()" ></button>
            <button mfb-button icon="paper-airplane" label="{{nbJobyersForMe}}" ng-click="isNoJobyerForMe()"></button>
            <button mfb-button icon="paper-airplane" label="Jobyers à proximité"></button>
            <button mfb-button icon="paper-airplane" label="Jobyers pour vous"></button>
          </nav>
        </div>

        <div class="list list-inset page2">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Votre recherche ici..." class="searchPage2"  ng-model = "search" ng-change="onSearchChange(search)" >
          </label>
        </div>
      </div>

    </div>


    <!--<!--<div style="border-left:medium #CC0000 solid; height:300px;" />
    <div class="mfbresult1">

    </div>
    <div class="mfbresult2">

    </div>

      <div class="mfbsearch">

         <nav mfb-menu position="bl" effect="slidein"
              active-icon="ion-search" resting-icon="ion-search"
              toggling-method="click" ng-click="getJobbers(query2)">
           <!--<button mfb-button icon="paper-airplane" label="menu item" click='getTestItems(query)'> </button>
           <button mfb-button icon="paper-airplane" label="{{nbJobbersNextToMe}}&nbsp;&nbsp;&nbsp;&nbsp;Jobs à proximité" ui-sref="listNext"></button>
           <button mfb-button icon="paper-airplane" label="{{nbJobbersForMe}}&nbsp;&nbsp;&nbsp;&nbsp;Jobs pour vous" ui-sref="list"></button>
         </nav>
       </div>

       <div class="list list-inset page2">
         <label class="item item-input">
           <i class="icon ion-search placeholder-icon"></i>
           <input type="search" placeholder="Votre recherche ici..."  ng-model = "query2" class="searchPage2">
         </label>
       </div>
       -->


  </ion-content>
</ion-view>

