<ion-view  id='jobTabView' view-title="{{AppLogo}}">
  <ion-nav-buttons side="secondary">
    <a class="button ion-navicon button-clear" style="font-size:x-large" data-ng-click="gotToOffres();"></a>
  </ion-nav-buttons>
<ion-nav-title>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
  </ion-nav-title>
  <!-- <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="offres">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-chevron-right button-clear button-light" ui-sref="offreTabs.qualites">  </a>
  </ion-header-bar> -->
  <!-- <ion-nav-buttons side="primary">
<button class="button button-clear button-small" ui-sref="offres">
  <i class="icon ion-ios-arrow-back"></i>
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
<button class="button button-clear button-small" ui-sref="offreTabs.qualites">
  <i class="icon icon-right ion-ios-arrow-forward"></i>
</button>
</ion-nav-buttons> -->

  <ion-content class="padding" padding="true">
    <div>
      <h3 class="titlePhone"><b>Job</b></h3>
    </div>
    <!-- TITRE -->
    <div class="list">
    <!-- METIERS -->
    <div class="input-container">
      <div angucomplete-alt id="metiers"
           placeholder="Secteur"
           initial-value="formData.metier.libelle || formData.metier.title"
           maxlength="50"
           pause="100"
           selected-object="formData.metier"
           local-data="formData.metiers"
           search-fields="libelle"
           title-field="libelle"
           minlength="1"
           input-class="form-control form-control-small"
           match-class="highlight" class="autoCompl">
      </div>
      <select class="arriere flat select" data-ng-model="formData.metier" data-ng-change="updateAutoCompleteMetier()"> <!-- data-ng-init="formData.metier='Metiers'" -->
        <option selected disabled style="display: none;">Metiers</option>
        <option id="metiers_value" data-ng-repeat="x in formData.metiers" value="{{x}}">{{x.libelle}}</option>
      </select>
      </div>
    <!-- JOBS -->
    <div class="input-container">
      <div angucomplete-alt id="jobs"
           placeholder="Job"
           initial-value="formData.job.libelle || formData.job.job"
           maxlength="50"
           pause="100"
           selected-object="formData.job"
           local-data="formData.jobs"
           search-fields="libelle"
           title-field="libelle"
           minlength="1"
           input-class="form-control form-control-small"
           match-class="highlight" class="autoCompl">
      </div>
      <select  class="arriere flat select" data-ng-model="formData.job" data-ng-change="updateAutoCompleteJob()">
        <option selected disabled style="display: none;">Job</option>
        <option data-ng-repeat="x in formData.jobs" value="{{x}}">{{x.libelle}}</option>
      </select>
      </div>
    <ion-item class="item-icon-right itemHoraire">
      <input type="text" placeholder="Taux horaire minimum" data-ng-model="formData.remuneration">
    </ion-item>
    </div>
    <!-- MAITRISE -->
    <img ng-src="img/{{formData.maitriseIcon}}" alt="" style="display: inline;max-width: 60px;max-height: 80px;vertical-align: middle;"/>
    <label for="maitrise" style="display: inline-block; color:#757575;vertical-align: middle;" > {{formData.maitrise}}</label>
    <div class="list rangeDiv">
      <div class="item range range-calm">
        <!--<img src="img\tree1_small.png" style="display: inline;max-width: 60px;max-height: 80px;"> -->
        <input id="maitrise" type="range" name="volume" min="0" max="100" data-ng-model="formData.degre" data-ng-change="rangeChange()">
        <!--<img src="img\tree4_small.png" style="display: inline;max-width: 60px;max-height: 80px;"> -->
      </div>
    </div>
    <button class="button button-full button-positive green" data-ng-click="Etape2();">Suivant</button>
    <!--ui-sref="menu.offreTabs.qualites"-->
    <!-- </div> -->
</ion-view>
