<ion-view title="connection">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="connection">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar>
  <ion-content padding="true">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>Saisie de la Civilité</b></h3>
    </div>

	<!-- TITRE -->
	<div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Titre" class="searchPage2" data-ng-model="titre">
      </label>
	</div>
	<!-- NOM -->
	<div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nom" class="searchPage2" data-ng-model="formData.nom">
      </label>
	</div>
	<!-- PRENOM -->
	<div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Prenom" class="searchPage2" data-ng-model="formData.prenom">
      </label>
	</div>
	<!-- DATE DE NAISSANCE -->
	<div class="list">
	  <label class="item item-input">
        <input type="text" placeholder="Date de Naissance" class="searchPage2" data-ng-model="formData.dateNaissance">
      </label>
    </div>
	<!-- N° SS -->
	<div class="list">
	  <label class="item item-input">
        <input type="text" placeholder="N° SS" class="searchPage2" data-ng-model="formData.numSS">
      </label>
    </div>
	<!-- NATIONALITE -->
	<div class="list">
	  <label class="item item-input">
        <input type="text" placeholder="Nationalité" class="searchPage2" data-ng-model="formData.nationalite">
      </label>
    </div>

	<div align="left">
      <h3 class="titlePhone">Charger un scan de votre CNI</h3>
    </div>

	<!-- Image uploader -->
	<div class="list">
		<label class="item item-input">
			<!--<button class="button button-positive green" data-ng-click="">Parcourir...</button> -->
			<input type="file" class="upload" capture="camera" accept="image/*" onchange="" />
		</label>
	</div>

	<!-- ACTIONS -->
	<div class="buttonConnect">
      <button class="button button-full button-positive green" data-ng-click="updateCivilite()">Valider</button>
      <button class="button button-full button-positive grey icon-right ion-chevron-right">Passer</button>
    </div>
  </ion-content>
</ion-view>
