<ion-view title="search">
  <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="app">  </a>
    <h1 class="title">Connexion employeur</h1>
  </ion-header-bar>
  <ion-content padding="true">

    <div class="row ">
      <div class="col">.col</div>
      <div class="col">1<br>2<br>3<br>4</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">1<br>2<br>3<br>4</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>

    <div class="row responsive-sm">
      <div class="col">.col</div>
      <div class="col">1<br>2<br>3<br>4</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>

    <div class="row" row responsive-sm>
      <div class="col">.col</div>
      <div class="col">1<br>2<br>3<br>4</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>




    <!--<div style="border-left:medium #757575 solid; height:300px;margin-left: 60px;margin-top: -8px;">
      <button class="round-overlay-button bottom-right calm button button-icon icon ion-ios7-search-strong light">23</button>
      <div />
      <div style="border-left:medium #757575 solid; height:196px; margin-left: -3px;">
        <button class="round-overlay-button bottom-right greyCalm button button-icon icon ion-ios7-search-strong light">23</button>

        <div />

        <div class="list list-inset page2">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Votre recherche ici..."  ng-model = "query2" class="searchPage2">
          </label>
        </div>

-->
  </ion-content>
</ion-view>
