<ion-view view-title="{{AppLogo}}">

    <!-- <ion-nav-buttons side="primary">
    <button class="button button-clear button-small" ui-sref="app">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    </ion-nav-buttons> -->

    <!-- <ion-header-bar class="bar-calm">
        <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="app"></a>
        <div class="vimgBar"><img src="img/vit1job-mini.png"/></div>
      </ion-header-bar> -->
    <ion-nav-buttons side="secondary">
        <a class="button ion-home button-clear button-light" style="font-size:x-large" ui-sref="menu.app"></a>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    </ion-nav-title>

    <ion-content>

        <div class="item item-divider" style="padding:3px 10px 3px 10px;">
            <label style="float:left;padding-top:5px;"><b>{{OfferLabel}}</b></label>
            <button class="button button-small button-light ion-ios-settings-strong" style="float:right;"
                    ui-sref="menu.jobyersOffersTab.options"></button>
            <button class="button button-small button-light ion-edit" style="float:right;" ui-sref="menu.offres"></button>
        </div>
        <ion-checkbox ng-model="jobyerListSetting.orderByAvialability" class="checkbox-calm" style="padding:8px;"
                      ng-change="sort()">
            <label class="calm" style="padding-left:40px;">Disponible via &nbsp;&nbsp;&nbsp;
                <i class="icon ion-android-car calm" ng-if="transportationmode == 'driving'"></i>
                <i class="icon ion-android-walk calm" ng-if="transportationmode == 'walking'"></i>
                <i class="icon ion-android-bicycle calm" ng-if="transportationmode == 'bicycling'"></i>
                <i class="icon ion-android-bus calm" ng-if="transportationmode == 'transit'"></i>
            </label>
        </ion-checkbox>
        <ion-checkbox ng-model="jobyerListSetting.orderByCorrespondence" class="checkbox-stable" style="padding:8px;"
                      ng-change="sort()">
            <label style="color:gray;padding-left:40px;">% de correspondance à votre compétence</label>
        </ion-checkbox>

        <div class="card" ng-show="!jobyersOffersPart.length">
            <div class="item item-text-wrap">
                Aucune offre d'emploi ne correspond à votre recherche. Changer vos critères et réessayer.
            </div>
        </div>

        <div class="list">
            <a class="item item-avatar card" style="margin:6px;"
               ng-repeat="jobyerOffer in jobyersOffersPart track by jobyerOffer.id | orderBy : SortOrder">
                <div class="item-icon-left">
                    <div><i class="icon ion-person"></i></div>
                </div>
                <h2>{{jobyerOffer.jobyerName}}</h2>

                <p>

                <p>
                    <i class="icon ion-android-car calm" ng-if="transportationmode == 'driving'"></i>
                    <i class="icon ion-android-walk calm" ng-if="transportationmode == 'walking'"></i>
                    <i class="icon ion-android-bicycle calm" ng-if="transportationmode == 'bicycling'"></i>
                    <i class="icon ion-android-bus calm" ng-if="transportationmode == 'transit'"></i>
                    <label class="calm">&nbsp;&nbsp;{{jobyerOffer.availability.text}}</label></p>

                <p><i class="icon ion-arrow-shrink"></i><label style="color:gray;">&nbsp;&nbsp;{{jobyerOffer.matching}}
                    %</label></p>

                <p><i class="ion-ios-calendar-outline"
                      ng-if="jobyerOffer.date_invit || (jobyerOffer.contacted=='true') "></i><label>&nbsp;
                    {{jobyerOffer.date_invit | date:'dd-MM-yyyy HH:mm'}}</label></p>
                </p>
                <div class="item-button-right">
                    <button class="button button-clear" style="padding-top:11px;"
                            ng-click="showMenuForContract(jobyerOffer)">
                        <i class="icon ion-power calm" ng-if="(jobyerOffer.contacted=='true')"></i>
                        <i class="icon ion-power" style="color:gainsboro;" ng-if="(jobyerOffer.contacted!=='true')"></i>
                    </button>
                </div>
            </a>
        </div>

        <ion-infinite-scroll on-infinite="loadMoreOffers()"></ion-infinite-scroll>


    </ion-content>
</ion-view>
