<ion-view id="adressePersonelView" title="{{AppLogo}}">
  <!-- <ion-header-bar class="bar-calm">
    <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="saisieCiviliteEmployeur">  </a>
    <div class="vimgBar"><img src="img/vit1job-mini.png"></div>
    <a class="button icon-right ion-home button-clear button-light" ui-sref="app">  </a>
  </ion-header-bar> -->
    <ion-nav-buttons side="secondary">
    <a class="button icon-right ion-chevron-right button-clear" ui-sref="menu.infoTabs.adresseTravail" ng-disabled="skipDisabled();">  </a>
    </ion-nav-buttons>
  <ion-content padding="true">
	<!-- Title -->
    <div>
      <h3 class="titlePhone"><b>{{title}}</b></h3>
    </div>
    <!--
        <div class="list">
          <label class="item item-input">
            <ion-google-place placeholder="Veuillez saisir votre adresse..." ng-model="formData.address" geocode-options="geocodeOptions" />
          </label>
        </div>
        -->
    <br>
    <div class="list">
      <!-- <label class="item item-input">
        <input type="text" placeholder="Veuillez saisir votre adresse..." ng-model="formData.address" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-click="displayAdresseTooltip()" ng-focus="disableTap()" id="address">
        <span ng-show="!formData.address  && isContractInfo" class="requiredStar">*</span>
      </label> -->
      <label id="google-autocomplete-personel" class="item item-input">
         <ion-google-autocomplete placeholder="Veuillez saisir votre adresse personnelle..." id="autocomplete_personel" ng-model="formData.address" places-options="placesOptions" />
         <span ng-show="!formData.address  && isContractInfo" class="requiredStar">*</span>
      </label>
    </div>
    <div id="popupAdrTravail" ng-class="{'hidden' : !showAdresseTooltip}" ng-if="fieldIsEmpty()">
      <div class="arrow-up"></div>
      <div id="adressePopup">
        {{adresseToolTip}}
      </div>
    </div>

    <!-- ACTIONS -->
    <div class="buttonConnect">
        <button class="button button-full button-positive green" data-ng-click="updateAdressePersEmployeur()" ng-disabled="!formData.address  && isContractInfo">Valider</button>
      </div>
  </ion-content>
</ion-view>
