/* Empty. Add your own CSS if you like */

/*##############################   style of Home.html ################################"*/

.vimg {
  width: 100%;
}

.row.sear {
  margin-top: -5%;
}

.vimgBar {
  width: 100%;
  text-align: center;
}

#metiers > div.angucomplete-holder{
 z-index: 5 !important;
}

.bar.bar-calm.bar-footer{
  bottom: 90px !important;
  border-color: transparent !important;
}

button.button.button-full.button-positive.grey {
  padding: 2px;
  font-size: 1em;
}
.grey-txt {

  font-size: 0.9em !important;
}
button.button.button-full.button-positive.green, button.button.button-positive.green {
  padding: 2px;
  font-size: 1em;
}

.list.list-inset {
  width: 100%;
}

label.item.item-input input[type="search"]{
  font-size:1em;
  padding-top: 0;
  padding-bottom: 0;
}

.hslide1{
  padding-top: 0 !important;
  padding-bottom: 4% !important;
  font-size : 1em;
  width: 100%;
}

/*.keyboard-open .tabs{
  display:none;
}
.keyboard-open .has-tabs{
  bottom:0;
}*/

.keyboard-open .hide-on-keyboard-open {
  display: none !important;
}

ion-footer-bar.hide-on-keyboard-open.bar.bar-footer {
  background-color: transparent;
  display: inherit;
  bottom: 15%;
  border: transparent;
}

.buttonConnect {
  padding: 5px;
}

/*##############################   styles of Search.html ################################"*/

.col {
  border: 0 solid red !important;
}

.mfb-component__button--main {
  left: 20%; /*5vw;*/

}

.lineContainer {
  padding-left: 40px;
  /* position: relative; */
}

.mfb-component__list li:nth-child(2) a:nth-child(1) {
  left: 28%; !important; /*9vw*/
  text-align: center;
}

.mfb-component__list li:nth-child(1) a:nth-child(1) {
  background: #757575;
  width: 90px;/*90px;*/
  height: 90px;
  left: 30%;  /*9vw;*/
}

.mfb-component__list li:nth-child(0) a:nth-child(1) {
  left: 9vw !important;
}

.mfb-component__list li:nth-child(3) a:nth-child(1) {
  background: transparent;
  box-shadow: 0 0 0 white, 0 0 0 white;
  margin-top: -150%;
  /*left : 50vw;*/
}

.mfb-component__list li:nth-child(3) a:nth-child(1)::after {
  color: #757575;
  left: 143%; /*5vw;*/
  top: 390%; /*28vh;*/
  font-size: 1.5em;
}

.mfb-component__list li:nth-child(4) a:nth-child(1) {
  background: transparent;
  box-shadow: 0 0 0 white, 0 0 0 white;

}

.mfb-component__list li:nth-child(4) a:nth-child(1)::after {
  color: grey;
  left: 143%;
  top: 219%;
  font-size: 1.5em;
}

.vertical-line{
  position: absolute;
  border-left:medium #757575 solid;
  height:320px;
  /*margin-left: 13.5%;/*16vw;*/
  margin-top: -4.5vh;
  z-index: 1;
}

.list.list-inset.page2 {
  z-index: 0;
  margin-left: 7px;
  margin-top: 256px;
  width: 300%;
}

.list.list-inset.page2 .item.item-input .ion-search:before{
  color: white;
}

input.searchPage2.ng-pristine.ng-untouched.ng-valid {
  margin-top: 0;
  margin-left: 10px;
}

label.item.item-input  input.searchPage2[type="search"]{
  padding-bottom: 4%;
  padding-left: 6%;
  font-size: 0.9em;
}

.searchPage2{
  height: 4vh !important;
  width: 100% !important; /*60vw
  padding: 3px !important;*/
}

button.button.button-positive.rel {
  min-width: 0;
  min-height: 0;
  font-size: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  border-color: transparent;
}

.item.item-button-right.rel {
  text-align: left;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.col.col-33.spec {
  padding-right: 0px;
  padding-left: 0px;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: grey;
  border-color: grey;
}

.modal {
  display: block;
  position: absolute;
  top: 24%;
  bottom: 20%;
  right: 10%;
  left: 10%;
  z-index: 10;
  overflow: hidden;
  min-height: 50%;
  width: 79%;
  background-color: grey;
  border-color: black;
  //color: white;
}

ion-content.modalContent.scroll-content.ionic-scroll.has-header {
  padding: 10px;
}


/*##############################   styles of Connection.html ################################"*/

a.button.button-calm.linked{
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-color: grey;
}

i.icon.ion-social-linkedin {
  vertical-align: bottom;
}

i.icon.ion-social-google {
  vertical-align: bottom;
}

i.icon.ion-social-facebook {
  vertical-align: bottom;
}

a.button.button-calm.fb{
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-color: grey;
}
a.button.button-calm {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.h3Connect1{
  font-size : 1em;
  color : #757575;
  width: 100%;
}



/*##############################   styles of connexionPhone.html ################################"*/

.titlePhone{
  font-size: 14px;
  font-family: "Helvetica Neue","Roboto","Segoe UI",sans-serif;
  line-height: 20px;
  text-rendering: optimizelegibility;
  color: #757575;
}

.flat{
  border: 0 none; width: 99%;color: #757575; background-color: transparent; padding: 0px;}
.flat option{
  color: #757575;border: 0 none; width: 99%;}

/*input.indicatif_tel {
  z-index: 100;
  width: 78px;
  position: absolute;
  top: 0;
  background-color: white;
  padding-right: 0px !important;
}*/

input[type="tel"].input-indicatif{
  padding-right: 0 !important;
}

select.item.item-select.indicatif {
  left: 60%;
  width: 33%;
  border: none;
  /*padding-bottom: 0%;
  padding-top: 70%;*/
}

select.select-indicatif {
  border: none;
  visibility: collapse;
}

select.item.item-input.indicatif.ng-pristine.ng-untouched.ng-valid {
  /*padding-bottom: 14%;*/
}

/*##############################   styles of saisieCivilite.html ################################"*/
/**
input[type="file"]{
	width: 99%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
**/
.inline{
	display: inline !important;
	text-align:left;
	width: auto !important;
	vertical-align: middle;
	padding: 1px !important;
}

.decale{
	padding-right: 4px;
	color: #757575 !important;
	opacity:.7;
}


input[type="text"], input[type="email"], input[type="password"]{
	color: grey;
}

.button.icon-right:before {
  padding-right: 5%;
  margin-left: -10%;
}

/*##############################   VALIDATION STYLES ################################"*/

.has-error input{background:url(../img/icons/error.png)right no-repeat; border:solid 1px red !important;}

/**
.list {
	padding: 1px !important;
}
.list .item{
	width: 98% !important;
	margin: 1px !important;
}
**/
.has-warning{
	background:url(../img/icons/error.png)right no-repeat; border-color:red !important;z-index: 3 !important;
}
.has-success{
	background:url(../img/icons/ok.png)right no-repeat; border:solid 1px grey !important;
}

ion-content.scroll-content.ionic-scroll.has-header .scroll.padding img {
    max-width: 200px;
    max-height: 121px;
}

.arriere{
	/**display: none;**/
	position: relative;
	top: -38px;
	left: 0px;
	color: transparent;
	/*z-index: 3 !important;*/



	/* background-color: blue; */
}

.select { text-indent: 5px; }
.inSameLine{
	display: inline;
}

input#ex0_value, input#ex1_value,input#cp_value, input#city_value,input#jobs_value, input#metiers_value{
	width: 100%;

	/*z-index: 5 !important;*/
	position: relative;
}



div#metiers_dropdown, div#jobs_dropdown, div#ex0_dropdown, div#ex1_dropdown, div#ex2_dropdown,div#ex3_dropdown {
	z-index: 100 !important;
}

/*##############################   MAP  ################################"*/
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

/*##################################" Adresses #######################################*/
.card .item.it1.xtel:last-child, .list.xtel-inset .item.it1:last-child, .padding > .list.xtel .item.it1:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: grey;
  border-right: none;
}

.card .item.it2.xtel:last-child, .list.xtel-inset .item.it2:last-child, .padding > .list.xtel .item.it2:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: grey;
  border-left: none;
  margin-right: 1px;
}

.card .item.it3.xtel:last-child, .list.xtel-inset .item.it3:last-child, .padding > .list.xtel .item.it3:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: grey;
  border-left: none;
  border-right: none;
}

.card .item.item-input input#addressP0, .list-inset .item.item-input input#addressP0, .padding > .list .item.item-input input#addressP0, .padding-horizontal > .list .item.item-input input#addressP0 {
  padding-right: 0 !important;
}



#maitriseDiv , #maitriseLangueDiv {
    //margin-top: 23px;
    margin-bottom: 23px;
	border-radius: 27px;
	border: solid gray thin !important;
	padding-top: 10px !important;
}

.rangeDiv {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px !important;
}
#competenceContent .list label{
	padding-bottom : 4%!important;
	padding-top : 4% !important;
}


.backgroundGray, #employersTab .tab-nav.tabs{
	background-color:gray !important;
}

.colorGray {
	color : gray !important;
}
.item.item-input .ion-search:before{

	color : gray ;
}

.borderGray{
	border-color:gray !important;
}
.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child , .card .item.it1.xtel:last-child, .list.xtel-inset .item.it1:last-child, .padding > .list.xtel .item.it1:last-child{
	border-color:gray;
  border-radius: 0px !important;
}

#disponibiliteContent .header .col {
  background-color:lightgrey !important;
}

#disponibiliteContent .col {
  border: solid 1px grey !important;
  border-bottom-style: none !important;
  border-right-style: none !important;
}

#disponibiliteContent .col:last-child {
  border-right: solid 1px grey !important;
}

#disponibiliteContent .row:last-child .col {
  border-bottom: solid 1px grey !important;
}
#disponibiliteContent .item-toggle, #disponibiliteContent .item-toggle.item-complex .item-content {
  padding-right: 135px;
  padding-left:1px;
}
#disponibiliteContent .toggle{
  right: 3px;
}
.active .modal-backdrop-bg {
  opacity: .5;
  transition: opacity 300ms ease-in-out;
  background-color: lightgray;
}
#offresContent .padding > .list .item:last-child{
  border-radius: 0px;

}
#offresContent .padding > .list .item{
  border-color: grey;
  text-align: left;
}
ion-tabs ion-nav-view{
  left:0px;
}

#floating-panel input{
  border: none;
  width: 95%;
}

.button.button-gray {
  border-color: gray;
  background-color: gray;
  color: #fff;
}
#offresTabContent .item-input{
  /*border-radius: 27px;*/
  border-color: grey;
}

#offresTabContent .selectClass{
  height: 36px;
}
.popup-open .popup{
  width:85%;
}

@media (max-width: 330px){
  #connectionsView .hide-text{
    display: none;
  }
}
.error{
  color: red;
  text-align: left !important;
}
/*##################################" Agenda #######################################*/
.itemHoraire{
  padding: 5px;
}
.placeholder-icon:last-child {
  padding-right: 11px;
}
.item-radio input:checked + div + i{
  /* show the checkmark icon when its checked */
  visibility: visible;
}
#exAdress_value{
  background: #444444;
  height: 100%;
  padding-top: 5px;
  margin-left: 7px;
  color: white;
}
/*#########################################################################*/
#civiliteView .row{
  border: solid #14BAA6 1px !important;
  border-radius: 24px;
  margin-top: 8px !important;
}
#civiliteView .col input{
  width: 100%;
}
#civiliteView .card .item:last-child, #civiliteView .list-inset .item:last-child, #civiliteView .padding > .list .item:last-child{
  border-radius: 0px;
  border-color: grey;
}
#civiliteView label.item.item-input {
  height: 34px;
  border: solid 1px grey;
}
@media screen and (max-width: 360px) {
  .hidden-text {
    display:none !important;
  }
}
#conxionMailView .list , #connexionPhoneView .list{
  margin-bottom: 10px !important;
}

#connexionPhoneView .row{
  padding-bottom: 0px;
  padding-left: 0px;
}

.item-input{
  border-color: grey;
}


#mailPopup, #pwdPopup, #adressePopup, #phonePopup {
  transition: .5s;
  overflow: hidden;
  color: white;
  font-size: 14px;
  background-color: grey;
  height: auto;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  display: block;
}

#mailPopup{
  margin-bottom: 10px;
}

.arrow-up {
  width: 0;
  height: 0;
  margin-left: 15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid grey;
}
#jobTabView .input-container {
  position: relative;
  display: block;
}

#jobTabView .input-container select {
  position: absolute;
  top: 30%;
  right: 0;
}

#jobTabView .input-container .autoCompl input {
  width: 90%;
}

#jobTabView .input-container #metiers  {
    border-bottom: none;
}
#agendaTabView .button.button-block, #agendaTabView .button.button-full {
    margin-top: 6px;
    margin-bottom: 6px;
}
#agendaTabView .item.item-select{
  padding-top: 0px;
  padding-bottom: 0px;
}
#agendaTabView ion-item{
  padding: 0px 10px;
}
#agendaTabView .range input{
  margin-top: 0px;
  margin-bottom: 0px;
}
#jobTabView .item.range.range-calm , #jobTabView #maitrise , #languesTabView .item.range.range-calm , #languesTabView #maitriseLangue{
  margin: 0px;
  padding: 0px;
}
#popupCntPwd, #popupCntMail, #popupAdrTravail,,#popupCntPhone{
  margin-top: -8px;
}

#popupCntPhone{
    margin-bottom: 9px;
}

#popupAdrTravail{
  margin-top: -17px;
}

#popupCntPwd.hidden, #popupCntMail.hidden, #popupAdrTravail.hidden, #popupCntPhone.hidden{
  display: none;
}

#floating-panel{
  position: absolute;
  top: 10px;
  left: 2.5%;
  z-index: 5;
  width: 95%;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  margin: auto;
  border: none;
}

.button.button-green{
  border-color: #14BAA6;
  background-color: #14BAA6;
  color: #fff;
}
.autoCompl{
  border: solid 1px grey;
}
#offresTabContent .tabs{
  background: grey;
}
#loadImgContainer #image {
  display: none;
}
#civiliteView .requiredStar{
  color:red;
  left:90%;
  position:absolute;
}
#adressePersonelView .requiredStar , #adresseTravailView .requiredStar{
    left: 95%;
    top: 30%;
    color:red;
    position:absolute;
}


#metiers,#jobs
{
  border-radius: 0 !important;
}

.platform-android .android-sheet-vitonjob .action-sheet .button{
  text-align: center;
  border-color: #d1d3d6;
  font-size: 21px;
  color: gray;
  border-width: 1px;
}
.platform-android .android-sheet-vitonjob .action-sheet .action-sheet-title{
  padding: 16px;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.platform-android .android-sheet-vitonjob .action-sheet-cancel{
  display: block;
  }

#dateDebutContainer, #dateFinContainer{
    text-align: left !important;
    margin: 0 0 0 0 !important;
    padding: auto !important;
    margin-bottom: 10px !important;
  }

#dateDebutInput, #dateFinInput {
  background-color: transparent;
  font-size: inherit;
  padding: 0 0 0 0;
  height: inherit;
  /*line-height: auto;*/
  margin-bottom: 4px;
}


.tab-item-active
{
  color:#f1f1f1 !important;
}
